<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.anushi.tictactoy">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission-sdk-23
        android:name="android.permission.INTERNET"
        android:maxSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/images"
        android:label="@string/app_name"
        android:roundIcon="@drawable/images"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="Game"
            android:roundIcon="@drawable/icon1"
            android:parentActivityName=".NameTwo"/>

        <activity android:name=".Auto"
            android:parentActivityName=".NameAuto"
            android:label="Game"/>

        <activity
            android:name=".NameTwo"
            android:excludeFromRecents="true"
            android:label="Names"
            android:noHistory="true"
            android:parentActivityName=".Main2Activity"
            android:roundIcon="@drawable/icon2"/>

        <activity
            android:name=".NameAuto"
            android:excludeFromRecents="true"
            android:label="Name"
            android:noHistory="true"
            android:parentActivityName=".Main2Activity"
            android:roundIcon="@drawable/icon2"/>

        <activity android:name=".Main2Activity"
            android:roundIcon="@drawable/home"/>

        <activity
            android:name=".Login"
            android:excludeFromRecents="true"
            android:label="Authentication"
            android:noHistory="true"
            android:parentActivityName=".Main2Activity"/>
        <activity
            android:name=".SignUp"
            android:excludeFromRecents="true"
            android:label="Registration"
            android:noHistory="true"
            android:parentActivityName=".Main2Activity"/>
        <activity
            android:name=".ResetPasswordActivity"
            android:excludeFromRecents="true"
            android:label="Reset"
            android:noHistory="true"
            android:parentActivityName=".Main2Activity"/>
        <activity
            android:name=".OnlineGame"
            android:label="Game" />
        <activity
            android:name=".Invite_Accept"
            android:label="Invite_Accept" />
        <activity
            android:name=".ProfileAct"
            android:label="Profile"
            android:parentActivityName=".Main2Activity"/>
        <activity android:name=".About"
            android:parentActivityName=".Main2Activity"
            android:roundIcon="@drawable/about"/>
    </application>

</manifest>
